/*section part css style, where definition are written*/
section { grid-column: 1 / 4; }
#definitions-container {
	margin-top: 10px;
	text-align: left;
	border: 2px solid rgba(247,147,30,1);
	border-radius: 5px;
}
#definitions-container div.rwd-description {
	padding: 5px;
	padding-bottom: 0;
	background-color: rgba(119,136,153,.3);
	border-radius: 5px;
	border-bottom: 1px solid lightgrey;
}
#definitions-container div.rwd-description > p {
	font: bold 13px Raleway, Arial;
	letter-spacing: .5px;
	word-spacing: 1.5px;
}
#definitions-container div.define-each {
	padding: 10px;
	padding-bottom: 0;
	background-color: rgba(119,136,153,.3);
	border-radius: 5px;
	border-bottom: 1px solid lightgrey;
}
#definitions-container #define-title {
	padding: 1px 5px;
	background-color: rgba(247,147,30,1);
}
#definitions-container #define-title p.short-definitions {
	margin: 8px;
	font: bold 16px Raleway, Arial;
	color: #fff;
	letter-spacing: 1px;
	word-spacing: 2px;
}
#definitions-container li {
	font: 14px Raleway, Arial;
	list-style-type: none;
}
#definitions-container div.define-each > p { 
	font: 12px Raleway, Arial;
	letter-spacing: .5px;
	word-spacing: 1.5px;
}
div.rwd-description > h2 { text-transform: uppercase; }
canvas#canvas-element {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: rgba(247,147,30,.8);
}
#for-time, #for-score { color: red; }
button#restart-button {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	font: 15px bold Raleway, Arial;
}
#canvas-centered {
	width: 1000px;
	height: auto;
}
/*section styling ends here */

/*mobile version styling ends here*/

/*media query is used to make responsive
* it is for desktop version, it starts here.*/
@media screen and (min-width: 720px){
	/*section part css style, where definition are written*/
	section { grid-column: 1 / 4; }
	/*styling first div of section tag*/
	#definitions-container {
		margin-top: 20px;
		text-align: left;
		border: 2px solid rgba(247,147,30,1);
		border-radius: 5px;
	}
	#definitions-container div.rwd-description {
	padding: 5px;
	padding-bottom: 0;
	background-color: rgba(119,136,153,.3);
	border-radius: 5px;
	border-bottom: 1px solid lightgrey;
	}
	#definitions-container div.rwd-description > p {
		font: bold 16px Raleway, Arial;
		letter-spacing: .5px;
		word-spacing: 1.5px;
	}
	#definitions-container div.define-each {
		padding: 10px;
		padding-bottom: 0;
		background-color: rgba(119,136,153,.3);
		border-radius: 5px;
		border-bottom: 1px solid lightgrey;
	}
	#definitions-container #define-title { background-color: rgba(247,147,30,1); }
	#definitions-container #define-title p.short-definitions {
		margin: 10px;
		font: bold 18px Raleway, Arial;
		color: #fff;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	#definitions-container li {
		font: 18px Raleway, Arial;
		list-style-type: none;
	}
	#definitions-container div.define-each > p { 
		margin-top: 8px;
		font: 15px Raleway, Arial;
		letter-spacing: .7px;
		word-spacing: 1.5px;
	}
	div.rwd-description > h2 { text-transform: uppercase; }
	canvas#canvas-element {
		margin-top: 20px;
		margin-bottom: 10px;
		background-color: rgba(247,147,30,.8);
	}
	#for-time, #for-score { color: red; }
	button#restart-button {
		width: 100%;
		margin-bottom: 10px;
		padding: 10px;
		font: 15px bold Raleway, Arial;
	}
	#canvas-centered {
		width: 1000px;
		height: auto;
	}
	/*first div styling ends here */

	/*section styling ends here */
}
/*media query for desktop version ends here*/