body {
	margin: 0;
	background-attachment: fixed;
	background-color: rgba(247,147,30,0.5);
	text-align: center;
}

/*mobile version starts here */
#container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 5px;
	padding-bottom: 10px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
/* css style for the middle contents containing labs work */
main {
	display: grid;
	grid-column: 1 / 4;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 5px;
	margin-top: 10px;
	text-align: center;
	border-radius: 5px;
}
/*ids are used eventhough it has unique tags because the effect is more for ids then other*/
#main-content a {
	font: normal 20px Raleway, Arial;
	color: #fff;
	letter-spacing: 1px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
}
#main-content a:hover p { 
	transform: rotate(360deg);
	transition: transform .3s ease-in-out;
}
#main-content a div {
	padding: 1%;
	background-color: rgba(247,147,30,1);
	border-radius: 5px;
}
/*mobile version styling ends here*/

/*media query is used to make responsive
* it is for desktop version, it starts here.*/
@media screen and (min-width: 720px){
	#container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding-top: 5px;
		padding-bottom: 10px;
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
	}
	/* css style for the middle contents containing labs work */
	main {
		display: grid;
		grid-column: 1 / 4;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		margin-top: 30px;
		text-align: center;
		border-radius: 5px;
	}
	/*ids are used eventhough it has unique tags because the effect is more for ids then other*/
	#main-content a {
		font: normal 25px Raleway, Arial;
		color: #fff;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
	}
	#main-content a div {
		padding: 70px;
		background-color: rgba(247,147,30,1);
		border-radius: 5px;
	}
}
/*media query for desktop version ends here*/