/*css-reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Raleway, Arial;
}
/*for mobile version css */
section {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(5em,auto);
	grid-template-areas: 
	"header header header header"
	"main main main main"
	"main main main main"
	"aside aside nav nav"
	"footer footer footer footer";
	grid-gap: .5em;
	margin-top: 1em;
	text-align: left;
}
#detail-content div {
	background-color: rgba(119,136,153,.3);
	border: .1em solid rgba(247,147,30,1);
	border-radius: .1em;
	padding: 1em .5em 1em .5em;
}
#detail-content div#responsive-web-1 {
	grid-area: header;
	padding: 1em;
	text-align: center;
	background-color: rgba(247,147,30,1);
}
#detail-content div#responsive-web-1 h1 {
	font-size: 150%;
	color: #fff;
}
#detail-content h2 { font-size: 110%; }
#detail-content p { 
	font-size: 95%;
	word-spacing: .1em;
}
#detail-content div#responsive-web-2 { grid-area: aside; }
#detail-content div#responsive-web-3 { grid-area: nav; }
#detail-content div#responsive-web-4 { grid-area: main; }
#detail-content div#responsive-web-5 {
	grid-area: footer;
	padding: 2em;
	text-align: center;
}
#nav-bar {
	padding-top: 15px;
	padding-bottom: 15px;
}

/*media queries start here*/
/*for devices with 720px or more width*/
@media screen and (min-width: 720px){
	section {
		grid-column: 1 / 4;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(7em,auto);
		grid-template-areas: 
		"header header header header"
		"aside aside main main"
		"aside aside main main"
		"nav nav main main"
		"nav nav main main"
		"footer footer footer footer";
		grid-gap: .5em;
		margin-top: 1em;
		text-align: left;
	}
	#detail-content div {
		background-color: rgba(119,136,153,.3);
		border-radius: .2em;
		padding: 1em .5em 1em .5em;
	}
	#detail-content div#responsive-web-1 {
		grid-area: header;
		padding: 1em;
		text-align: center;
		background-color: rgba(247,147,30,1);
	}
	#detail-content div#responsive-web-1 h1 {
		font-size: 200%;
		color: #fff;
	}
	#detail-content h2 { font-size: 120%; }
	#detail-content div#responsive-web-2 { grid-area: aside; }
	#detail-content div#responsive-web-3 { grid-area: nav; }
	#detail-content div#responsive-web-4 { grid-area: main; }
	#detail-content div#responsive-web-5 {
		grid-area: footer;
		padding: 2em;
		text-align: center;
	}
}
/*media queries ends here*/